* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('background.jpg') no-repeat center center/cover; /* Background image */
    position: relative;
}

.login-form {
    background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.remember-me {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    font-size: 14px;
}

.remember-me input {
    margin-right: 8px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Daily Audit */

.login-btn:hover {
    background-color: #45a049;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Sidebar */
#sidebar {
    width: 250px;
    background-color: #004d40;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}

#sidebar h1 {
    font-size: 24px;
    margin-bottom: 40px;
}

#sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
}

#sidebar a:hover {
    color: #81c784;
}

/* Main content */
#main-content {
    margin-left: 250px;
    padding: 20px;
}

/* Header */
#header {
    background-color: #00796b;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

/* Table Header */
th {
    background-color: #00796b;
    color: white;
}

td {
    background-color: #e0f2f1;
}

.count {
    background-color: #b2dfdb;
}

td:nth-child(odd) {
    background-color: #b2dfdb;
}

td:nth-child(even) {
    background-color: #c8e6c9;
}

td:hover {
    background-color: #80cbc4;
}
/* Daily Audit */